<section data-ng-controller="AgreementsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Agreements</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="agreement in agreements" data-ng-href="#!/agreements/{{agreement._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="agreement.created | date:'medium'"></span>
				by
				<span data-ng-bind="agreement.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="agreement.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!agreements.$resolved || agreements.length">
    	No Agreements yet, why don't you <a href="/#!/agreements/create">create one</a>?
    </div>
</section>